<link rel="import" href="../mock-movements.js">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="dm-cards-movements">

    <template>
      <style>
        :host {
          display: block;
        }
      </style>
    </template>
  
    <script>
        import { data } from '../mock-movements'
      class DmCardsMovements extends Polymer.Element {
        static get is() {
          return 'dm-cards-movements';
        }
  
        // Declare properties for the element's public API
        static get properties() {
          return {

              data:{
                  type: Array,
                  value: [[
        {
          id: "1hhn22-wepaq44g",
          localAmount: {
            amount: 588.75,
            currency: "EUR"
          },
          moneyFlow: {
            "id": "EXPENSE",
            "name": "Expense"
          },
          concept: "Payment in Amazon Europe for 588.75€",
          transactionType: {
            id: "PURCHASE",
            name: "Purchase"
          },
          accountedDate: "2016-02-28T16:30:41.800Z",
          operationDate: "2016-02-28T16:30:12.090Z",
          valuationDate: "2016-02-28T16:30:41.800Z",
          financingType: {
            id: "NON_FINANCING",
            name: "Non financing"
          },
          status: {
            id: "PENDING",
            name: "Pending"
          },
          contract: {
            id: "73yuhe-fjn48y-tog3lf-qqodho",
            number: "ES4500123213494919812730",
            numberType: {
              id: "PAN",
              name: "PAN"
            },
            product: {
              id: "CARDS",
              name: "CARDS"
            },
            alias: "my card"
          },
          tags: [
            AMAZON,
            GEFORCE,
            ENJOY
          ],
          category: {
            id: "ONLINE_PURCHASE",
            name: "Online purchase"
          },
          exchangeRate: {
            date: "2016-01-21T16:41:41.090Z",
            values: {
              factor: {
              value: 3.4
              },
              priceType: "SALE"
            }
          }
        },
        {
          id: "1hhn22-wepaq44g",
          localAmount: {
            amount: 19.34,
            currency: "EUR"
          },
          moneyFlow: {
            id: "INCOME",
            name: "Income"
          },
          concept: "Refund from PCCOMPONENTES",
          transactionType: {
            id: "REFUND",
            name: "Refund"
          },
          operationDate: "2016-02-21T16:20:20.090Z",
          accountedDate: "2016-02-21T16:20:20.800Z",
          valuationDate: "2016-02-21T16:20:20.800Z",
          financingType: {
            id: "NON_FINANCING",
            name: "Non financing"
          },
          status: {
            id: "SETTLED",
            name: "Settled"
          },
          contract: {
            id: "73yuhe-fjn48y-tog3lf-qqodho",
            number: "ES4500123213494919812730",
            numberType: {
              id: "PAN",
              name: "PAN"
            },
            product: {
              id: "CARDS",
              name: "CARDS"
            },
            alias: "my card"
          },
          category: {
            id: "ONLINE_PURCHASE_REFUNDED",
            name: "Online purchase refunded"
          },
          additionalInformation: {
            reference: "****3456",
            updatedBalance: {
              amount: 797.84,
              currency: "EUR"
            }
          },
          exchangeRate: {
            date: "2016-01-21T16:41:41.090Z",
            values: {
              factor: {
                value: 3.4
              },
              priceType: "SALE"
            }
          }
        },
        {
          id: "55rmsdm-wepaq44g",
          localAmount: {
            amount: 37.56,
            currency: "EUR"
          },
          originAmount: {
            amount: 40,
            currency: "EUR"
          },
          moneyFlow: {
            id: "INCOME",
            name: "Income"
          },
          concept: "PAYMENT TDC",
          transactionType: {
            id: "CREDIT_CARD_INSTALLMENT",
            name: "Credit Card Installment"
          },
          operationDate: "2016-01-28T16:41:41.090Z",
          accountedDate: "2016-01-28T16:41:41.800Z",
          valuationDate: "2016-01-28T16:41:41.800Z",
          financingType: {
            id: "NON_FINANCING",
            name: "Non financing"
          },
          status: {
            id: "SETTLED",
            name: "Settled"
          },
          contract: {
            id: "73yuhe-fjn48y-tog3lf-qqodho",
            number: "ES4500123213494919812730",
            numberType: {
              id: "PAN",
              name: "PAN"
            },
            product: {
              id: "CARDS",
              name: "CARDS"
            },
            alias: "my card"
          },
          category: {
            id: "CREDIT_CARD",
            name: "Credit card operation"
          },
          additionalInformation: {
            reference: "urgent",
            additionalData: "payment ***** 5428",
            updatedBalance: {
              amount: 778.5,
              currency: "EUR"
            }
          }
        },
        {
          id: "55rmsdm-wepaq44g",
          localAmount: {
            amount: 21.5,
            currency: "EUR"
          },
          moneyFlow: {
            id: "EXPENSE",
            name: "Expense"
          },
          concept: "Withdrawal of cash on ATM (21.5 EUR)",
          transactionType: {
            id: "CASH_WITHDRAWAL",
            name: "CASH_WITHDRAWAL"
          },
          operationDate: "2016-01-28T16:41:41.090Z",
          accountedDate: "2016-01-28T16:41:41.800Z",
          valuationDate: "2016-01-28T16:41:41.800Z",
          financingType: {
            id: "NON_FINANCING",
            name: "Non financing"
          },
          status: {
            id: "SETTLED",
            name: "Settled"
          },
          contract: {
            id: "73yuhe-fjn48y-tog3lf-qqodho",
            number: "ES4500123213494919812730",
            numberType: {
              id: "PAN",
              name: "PAN"
            },
            product: {
              id: "CARDS",
              name: "CARDS"
            },
            alias: "my card"
          },
          additionalInformation: {
            reference: "56323722",
            additionalData: "Withdrawal of cash",
            updatedBalance: {
              amount: 800,
              currency: "EUR"
            }
          }
        }
      ]]
              },

              operationDate: {
                  type: Date,
                  value: ''
              },
              
            category: {
                type: Object,
                value: {
                    id: "",
                    name: ""
                }
            },

            transactionType: {
                type: Object,
                value: {
                    id: "",
                    name: ""
                }
            },

            localAmount: {
                type: Object,
                value: {
                    amount: 0,
                    currency: "COP"
                }
            }
          };
        }

        attached(){
            let dataMockMovements = data();
            for (let i=0; i<dataMockMovements.length; i++){
                console.info(dataMockMovements);
            }
        }
      }
  
      customElements.define(DmCardsMovements.is, DmCardsMovements);
      </script>
  
  </dom-module>
  