
<link rel="import" href="../../../components/cells-login-view/cells-login-view.html" >
<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../../elements/dm-login/dm-login.html">

<dom-module id="login-page">
    <template>      
        <cells-template-paper-header-panel mode="seamed" header-height=500 header-height=60 disable-edge-swipe header-fixed> <!-- required -->
            <div slot="app__header">
                <cells-component-app-header
                    text="GROUP CELLS">
                 </cells-component-app-header>
            </div>
        
            <div slot="app__overlay">
                <cells-credentials-form
                    user-id='17085839'
                    user-name='17085836'
                    user-password='prueba02'
                    on-login="_requestGrantingTicket">
                </cells-credentials-form>
                
                <dm-login 
                    id="dmLogin"
                    on-login-success="_loginSuccess">
                </dm-login>

            </div>
        </cells-template-paper-header-panel>
        
        
      </template>
    
  
    <script src="login-page.js"></script>
  </dom-module>