<link rel="import" href="../../components/cells-date-input/cells-date-input.html">
<link rel="import" href="../list-movements/list-movements.html">

<dom-module id="input-filter">

    <template>
      <style>
        :host {
          display: block;
        }
        .dates {
          display: flex;
          justify-content: center;
          margin: 0.5em
        }
        .divider {
          width: 1px;
          display: block;
          background: #C0C2C4;
          margin: 0 0.5em;
          transform: rotate(15deg);
        }
      </style>
      <div class="dates">
        <cells-date-input format="[[format]]" locale="[[locale]]" date="{{minDate}}" text="Desde" allow-past-date available-weekends></cells-date-input>
        <div class="divider"></div>
        <cells-date-input format="[[format]]" locale="[[locale]]" date="{{maxDate}}" text="Hasta" allow-past-date available-weekends></cells-date-input>
        <list-movements></list-movements>
      </div>
     
    </template>
  
    <script>
      class InputFilter extends Polymer.Element {
        static get is() {
          return 'input-filter';
        }
  
        // Declare properties for the element's public API
        static get properties() {
          return {
 
          };
        }
        _onResponseError(evt) {
        this.fire('failService', {
            text: 'Por favor intenta mas tarde Code:S-GTK ',
            time: '5000'
        });
        }

        attached(){
            document.addEventListener('WebComponentsReady', function() {
            var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '#demo0');
            demo.addDays = function(d, days) {
            var date = d.setDate(d.getDate() + days);
            return date;
            };
            demo.format = 'DD MMMM YYYY';
            demo.locale = 'en';
            var d = new Date();
            demo.minDate = demo.addDays(d, 30);
            demo.maxDate = demo.addDays(d, 0);
            demo.allowPastDate = false;
            demo.availableWeekends = false;
            demo.disabled = false;

            demo.reset = function() {
            demo.$.example0.reset();
            };
        });
      }
        
      }
  
      customElements.define(InputFilter.is, InputFilter);



      </script>
  
  </dom-module>
  