<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="dm-login">

    <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <cells-generic-dp
        id="dp"
        host=[[host]]
        path="TechArchitecture/co/grantingTicket/V02"
        body=[[requestBody]]
        on-request-success="_onResponseGrantingTicket"
        on-request-error="_onResponseError"
        method="POST">
      </cells-generic-dp>
    </template>
  
    <script>
      class DmLogin extends Polymer.Element {
        static get is() {
          return 'dm-login';
        }
  
        // Declare properties for the element's public API
        static get properties() {
          return {
            host: {
                type: String,
                value: window.AppConfig.enviroment
            },
            requestBody: {
                type: Object,
                value: {}
            },
            tsec: {
                type: Object,
                value: {}
            },
            idDm: {
                type: String
            }

            
          };
        }

        requestGrantingTicket(dataUser) {
        
        this.set('requestBody',{
              authentication: {
              userID: dataUser.detail.userId,
              consumerID: '12000033',
              authenticationType: '02',
              authenticationData: [
                  {
                  idAuthenticationData: 'password',
                  authenticationData: [
                    dataUser.detail.password
                  ]
                  }
              ]
              },
              backendUserRequest: {
              userId: '',
              accessCode: '',
              dialogId: ''
              }
          });
        console.log('accede a requestGrantingticket --> '+this.requestBody.authentication.authenticationData[0].authenticationData[0]);
        this.$.dp.generateRequest();
        }

        _onResponseGrantingTicket(evt) {
          console.log('accede a onResponseGrantingTicket');
          this.dispatchEvent(new CustomEvent('login-success', {
            bubbles: true,
            composed: true
            }));
        }

        _onResponseError(evt) {
          console.log('genera error');
          this.dispatchEvent(new CustomEvent('login-error', {
            text: 'Datos incorrectos',
            time: '5000'
        }));
        }
      }
  
      customElements.define(DmLogin.is, DmLogin);
      </script>
  
  </dom-module>
  