<link rel="import" href="../dm-cards-movements/dm-cards-movements.html">
<dom-module id="list-movements">

    <template>
      <style>
        :host {
          display: block;
        }
      </style>
    <dm-cards-movements>
    </dm-cards-movements>

    </template>
  
    <script>
      class ListMovements extends Polymer.Element {
        static get is() {
          return 'list-movements';
        }
  
        // Declare properties for the element's public API
        static get properties() {
          return {};
        }
      }
  
      customElements.define(ListMovements.is, ListMovements);
      </script>
  
  </dom-module>
  